html, body {
    height: 100%;
}

body {
    background-image: url("/images/JavaScript.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#output {
    font-style:italic;
}